<div id="landing-header">
  <h1 class="display-1 glow">Welcome</h1>
  <h2 class="display-4 mb-4 glow">Take a look</h2>
  <div class="btn-group myButton">
    <button type="button" routerLink="education/details" class="btn btn-success"> <span><i class="fa-solid fa-address-card"></i></span> Portfolio</button>
    <a type="button" class="btn btn-primary" href={{my_linked_in}} target="_blank"> <span><i class="fa-brands fa-linkedin"></i></span> LinkedIn</a>
    <a type="button" class="btn btn-info" href={{resume_download_link}} target="_blank"><span><i class="fa-solid fa-download"></i></span> Resume </a>
  </div>
</div>

<ul class="slideshow">
<li class="img-fluid"></li>
<li class="img-fluid"></li>
<li class="img-fluid"></li>
<li class="img-fluid"></li>
<li class="img-fluid"></li>
</ul>
