<div class="card aezakmi mt-3">
  <div class="myImageContainer">
    <img src="https://res.cloudinary.com/dkrtupzet/image/upload/v1666757242/ales-nesetril-Im7lZjxeLhg-unsplash_r4ggww.jpg" class="img-fluid card-img myImage" alt="...">
    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHgqv4eAqDBgQ/profile-displayphoto-shrink_400_400/0/1603531511007?e=1672876800&v=beta&t=2l2sYHz-gotzJd_xVAeVwTOI66ZA4I8gWAogRKFf0sM" class="img-thumbnail thumbnailImage" alt="...">
  </div>
  <div class="card-body mb-0 mb-sm-0 mb-md-5">
    <div class="row mb-md-3 mb-sm-0">
      <div class="col-md-4 mb-4 mb-sm-4 mb-md-0">
        <h5 class="title card-title">Name</h5>
        <p class="titlea card-text">Vinay Kumar Yadav</p>
      </div>
      <div class="col-md-4 mb-4 mb-sm-4 mb-md-0 d-none d-md-block d-sm-none">
        <h5 class="title card-title">Company</h5>
        <p class="titlea card-text">Tata Consultancy Services</p>
      </div>
      <div class="col-md-4 mb-4 mb-sm-4 mb-md-0 d-sm-block d-md-none">
        <h5 class="title card-title">Company</h5>
        <p class="titlea card-text">TCS</p>
      </div>
      <div class="col-md-4 mb-4 mb-sm-4 mb-md-0 d-none d-md-block d-sm-none">
        <h5 class="title card-title">Current Position</h5>
        <p class="titlea card-text">Assistant System Engineer</p>
      </div>
      <div class="col-md-4 mb-4 mb-sm-4 mb-md-0 d-md-none d-sm-block">
        <h5 class="title card-title">Current Position</h5>
        <p class="titlea card-text">A.S.E.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4 mb-sm-4 mb-md-0">
        <h5 class="title card-title">Experience</h5>
        <p class="titlea card-text">{{ year }}<span *ngIf="year === 1"> Year </span><span *ngIf="year !== 1"> Years </span> {{ months }} <span *ngIf="months === 1"> Month </span><span *ngIf="months !== 1"> Months </span></p>
      </div>
      <div class="col-md-4 mb-4 mb-sm-4 mb-md-0">
        <h5 class="title card-title">Current Location</h5>
        <p class="titlea card-text">Gurgoan</p>
      </div>
      <div class="col-md-4 mb-4 mb-sm-4 mb-md-0">
        <h5 class="title card-title">Home Town</h5>
        <p class="titlea card-text">Varanasi</p>
      </div>
    </div>
  </div>
</div>
