<section class="section">
  <div class="features">
    <div class="feature feature-one font-monospace">
      <h2 class="feature__title">B.Tech</h2>
      <p class="feature__desc">2017-2021</p>
      <p class="feature__desc">Computer Science & Engineering</p>
      <p class="feature__desc">Percentage: <span class="text-success">80.7% </span></p>
      <p style="width: 20rem;" class="feature__desc"></p>
      <div class="feature__img"><i style="color: hsl(180, 62%, 55%);" class="fa-4x fa-solid fa-graduation-cap"></i></div>
     </div>
    <div class="wrapper">
      <div class="feature feature-two font-monospace">
        <h2 class="feature__title">Intermediate</h2>
        <p class="feature__desc">2016-2017</p>
        <p class="feature__desc">Science</p>
        <p class="feature__desc">Percentage: <span class="text-success">67% </span></p>
        <div class="feature__img"><i style="color: hsl(0, 78%, 62%);" class="fa-4x fa-sharp fa-solid fa-school-flag"></i></div>
      </div>
      <div class="feature feature-three font-monospace">
        <h2 class="feature__title">High School</h2>
        <p class="feature__desc">2014-2015</p>
        <p class="feature__desc">Percentage: <span class="text-success">77.8%</span></p>
        <p style="width: 20rem;" class="feature__desc"></p>
        <div class="feature__img"><i style="color: hsl(34, 97%, 64%);" class="fa-4x fa-solid fa-bus"></i></div>
     </div>
    </div>

  </div>
</section>
